{% extends 'base.html' %}
{% block title %}{{ text }}{% endblock %}
{% block content %}
    <!-- класс py-5 создает отступы сверху и снизу блока -->
    <div class="container py-5">
        <h1> Записи сообщества {{ group }} </h1>
        <article>
            {% for group in group %}
                <p>
                    {{ group.description }}
                </p>
                {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
        </article>
        <!-- под последним постом нет линии -->
    </div>
{% endblock %}
